.footer {
  background-color: #144a79;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  width: 300px;
  margin: 10px;
}
.footer-bottom a {
  text-decoration: none;
  color: white;
}

.footer-section h3 {
  font-size: 1.2em;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 12px 0;
}

.social-media a {
  display: inline-block;
  margin: 5px 10px;
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
}
